---
layout: default
title: Team members
permalink: /team/
image: dimsum2.jpg
---

<div class="herobanner flex-wrapper flex-center" style="background-image: url('{{ site.baseurl }}/images/{{ page.image }}');">
</div>

<div style="margin:0 2%;">
<h1 class="entry">Current members</h1> 
<div class="grid-flow">
  {% for member in site.team %}
      <div class="profilegrid">
        <img src="{{ site.baseurl }}/images/{{ member.image }}" style="width:250px;height:250px;">
        <h2 style="color:#303C6C">{{ member.name }}</h2>
        <p>{{ member.position }}</p>

      </div>
      
  {% endfor %}
</div>
</div>

<div style="margin:0 2%;">
<h1 class="entry">Honorary members</h1> 
<div class="grid-flow">
  {% for member in site.teamh %}
      <div class="profilegrid">
        <img src="{{ site.baseurl }}/images/{{ member.image }}" style="width:250px;height:250px;">
        <h2 style="color:#303C6C">{{ member.name }}</h2>
        <p>{{ member.position }}</p>

      </div>
      
  {% endfor %}
</div>
</div>

<div style="margin:0 12%;">
<div class="mposts">
  <div class="secttitle"><h1>Alumni</h1></div>
  {% for member in site.alumni %}
    <article class="mpost">
      <p> <strong>{{ member.name }}</strong> | Position in lab: {{ member.position }} | Currently: {{ member.current }}</p>
    </article>
  {% endfor %}
</div>
</div>




